---
import Layout from '../../layouts/Layout.astro';
import Header from '../../components/layout/Header.astro';
import Footer from '../../components/layout/Footer.astro';
import Hero from '../../components/sections/Hero.astro';
import TimeForms from '../../components/sections/TimeForms.astro';
import Services from '../../components/sections/Services.astro';
import Methodology from '../../components/sections/Methodology.astro';
import Cta from '../../components/sections/Cta.astro';
---

<Layout>
	<Header />
	<main>
		<Hero />
		<TimeForms />
		<Services />
		<Methodology />
		<Cta />
	</main>
	<Footer />
</Layout>
